body {
    background-color: black;
    font-family: "DM Sans", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    
    padding: 12px;
    width: 300px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar .sidebar__navigation {
    border-radius: 8px;
    padding: 20px;
    background-color: #121212;
}

.sidebar .sidebar__navigation .logo {
    display: flex;
    border-radius: 8px;
    padding: 0 0 10px 0;
    background-color: #121212;
}

.sidebar .library{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 0;

    background-color: #121212;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}

.library .library__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.library .library__button {
    color: #b3b3b3;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
}

.library .section-playslist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;

    background-color: #242424;
    color: white;
}

.library .section-playslist .section-playslist__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.library .section-playslist .section-playslist__content .title{
    font-size: 14px;
    font-weight: 700;
}

.library .section-playslist .section-playslist__content .subtitle{
    font-size: 12px;
    font-weight: 400;
}

.library .section-playslist .section-playslist__content .section-playlist__button{
    width: 113px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;

    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.library .cookies {
    padding: 0 20px;
}

.library .cookies a {
    color: #b3b3b3;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}

.library .cookies a:hover {
    text-decoration: underline;
}

.library .languages .languages__button {
    padding: 20px;

    background-color: transparent;
    color: white;
    font-size: 12px;
    cursor: pointer;
    align-items: center;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;

    background: linear-gradient(100deg, rgba(9,9,121,1), rgba(141,0,255,1), rgba(9,9,121,1));
    color: white;
}

.disclaimer-premium .disclaimer-premium__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    font-size: 12px;
    font-weight: 300;
}

.disclaimer-premium .disclaimer-premium__button {
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;

    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 700;
    flex-shrink: 0;
}